body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-image: url(images/breach-bg-neo.jpg);
    
    
}
.Yellow{
    color:yellow;
}
p{
    color :rgba(145, 255, 255, 0.966);
    padding:10px;
    border: 1px solid rgb(245, 143, 19);
    border-radius: 10px;
    background-color: rgba(238, 168, 82, 0.37);
}
h1{
    color:antiquewhite
}
h3{
    color:aquamarine
}
section{
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: antiquewhite;
    font-weight: 600;
}
.smallYellow{
    color:yellow;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 3px;
    border: none;
    background-color: rgba(245, 222, 179, 0);
}
.image-bg{
    
    padding: 1px 20px;
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 35%;
    padding-left: 27%;
    padding-top: 5%;
}
.ability{
    color: rgb(247, 49, 49);
    font-size: 30px;
    margin: 10px 5px;
    
}
.subsection{
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
 
}
.subsection p{
    margin: 2%;
}
.skill{
    display: flex;

}
 .profile-pic{
     height: 100px;
     width: 100px;
 }
 .customer{
     text-align: center;
     border-bottom: 5px solid wheat;
 }